<form method="post" action="{{ path('app_admin_gestion_delete', {'id': product.id}) }}" class="d-inline" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
